{% extends 'base.html' %}
{% load materializecss %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> 
                  
    {% endfor %}
{% endif %}

<div class="row" id='form_turnos'>
    <div class="col-md-4">
        <form action="." method="POST" autocomplete="off">
            {% csrf_token %}
         
            <div class="fecha_turnos">
                {{ turnos_form.fecha|materializecss:'icon=today' }}
            </div>
            <div>
                {{ turnos_form.cliente|materializecss:'icon=face' }}
            </div>
            <div>
                {{ turnos_form.telefono|materializecss:'icon=phone_android' }}
            </div>
            <div>
                {{ turnos_form.empleado|materializecss:'icon=people' }}
            </div>
            
            <button class="btn" type="submit" id='boton_trabajos'>
                Agregar turno
            </button>
        </form>
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar col-md-8">
    <table class="responsive-table-sm">
        <thead>
            <tr>
                <th></th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Telefono</th>
                <th>Empleado</th>
            </tr>
        </thead>
        <body>
            {% for turno in turnos %}
            <tr>
                <td>          
                    <a href="{% url 'delete_turno' turno.id %}"><img src="/static/images/trash.png" id='trash_icon'></a>      
                </td>
                <td>{{ turno.fecha }}</td>
                <td>{{ turno.cliente }}</td>
                <td>{{ turno.telefono }}</td>
                <td>{{ turno.empleado }}</td>
            </tr>
            {% endfor %}
        </body>    
    </table>
    </div>
</div>



{% endblock %}